.root {
  margin-bottom: 20px;
}

.title {
  padding: 15px 15px 0 15px;
}
.window {
  width:92%;
  margin-top:10px;
  height:55vh;
  border: 1px solid #F5F5F5;
  overflow-y:auto;
}
@media (min-width: 576px) and (max-width: 767px){
  .input{
    width: 400px;
  }
}
@media (min-width: 768px) and (max-width: 899px){
  .input{
    width: 500px;
  }
}
@media (min-width: 900px) and (max-width: 1178px){
  .input{
    width: 160px;
  }
}
@media (max-width: 575px){
  .input{
    width: 270px;
  }
}