.root {
  width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
}
.error {
  margin-top: 10px;
  text-align: center;
  color: red;
}

.button:hover {
  border-radius: 20px;
  transition: .2s;
}
.title {
  text-align: center;
  margin-top: 15px;
}
.avatar {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.adminPanel {
  width: 1085px;
  border-radius: 8px;
}