.root {
  background-color: rgb(26, 26, 26);
  margin-top:15px;
  padding: 15px 0;
  width: 100%;
}
.coopyright{
  text-align: center;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;;
  font-size: 15px;
  color: #fffffe;
}
